<div class="space-y-2">

  <div *ngFor="let item of data" class="flex justify-between border-b py-2 text-sm">

    <div>
      <div class="font-medium">
        {{ item.descricao }}
      </div>

      <div class="text-gray-500 text-xs">
        {{ item.data | date:'dd/MM/yyyy' }}
      </div>
    </div>

    <div [ngClass]="{
        'text-green-600': item.tipo === 'RECEITA',
        'text-red-500': item.tipo === 'DESPESA'
      }">

      {{ item.valor | currency:'BRL' }}

    </div>

  </div>

</div>