<ui-chart-card titulo="Últimos lançamentos">

  <div class="space-y-2">

    <div *ngFor="let l of lancamentos()" class="flex justify-between border-b py-2">

      <div>
        <div class="font-medium">
          {{ l.descricao }}
        </div>

        <div class="text-xs text-gray-500">
          {{ l.data | date:'dd/MM/yyyy' }}
        </div>
      </div>

      <div [ngClass]="{
          'text-green-600': l.tipo === 'RECEITA',
          'text-red-500': l.tipo === 'DESPESA'
        }">

        {{ l.valor | currency:'BRL' }}

      </div>

    </div>

  </div>

</ui-chart-card>