<div class="bg-white rounded-lg shadow p-4 h-full">

  <h3 class="text-lg font-semibold mb-4 text-gray-700">
    Últimos lançamentos
  </h3>

  <div *ngFor="let l of lancamentos()" class="flex justify-between items-center py-3 border-b text-sm">

    <div>

      <div class="font-medium text-gray-700">
        {{ l.descricao }}
      </div>

      <div class="text-xs text-gray-500">
        {{ l.data | date:'dd/MM/yyyy' }}
      </div>

    </div>

    <span [class.text-red-500]="l.tipo === 'DESPESA'" [class.text-green-600]="l.tipo === 'RECEITA'"
      class="font-semibold">

      {{ l.valor | currency:'BRL' }}

    </span>

  </div>

</div>