<!-- DEBUG -->

<hr>

<!-- ALERTAS -->
<app-alerts-widget [alerts]="facade.alertsFinanceiros()">
</app-alerts-widget>

<!-- CATEGORIAS -->
<app-categorias-widget [categorias]="facade.gastosPorCategoria()">
</app-categorias-widget>

<!-- BUDGET -->
<app-budget-suggestion-widget [sugestoes]="facade.budgetSuggestions()">
</app-budget-suggestion-widget>

<!-- SCORE -->
<app-financial-score-widget [score]="facade.scoreFinanceiro()">
</app-financial-score-widget>

<!-- META -->
<app-savings-goal-widget [meta]="facade.metaEconomiaMensal()" [status]="facade.statusMetaEconomia()">
</app-savings-goal-widget>

<!-- LISTA -->
<app-ultimos-lancamentos-widget [grupos]="facade.lancamentosAgrupados()">
</app-ultimos-lancamentos-widget>