<div class="p-6">

  <h1 class="text-2xl font-semibold mb-4">
    Lançamentos
  </h1>

  <table class="w-full border-collapse">

    <thead>
      <tr class="text-left border-b">

        <th class="py-2">Descrição</th>
        <th>Categoria</th>
        <th>Conta</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Tipo</th>
        <th>Ações</th>

      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let l of facade.lancamentos()" class="border-b">

        <td class="py-2">
          {{ l.descricao }}
        </td>

        <td>
          {{ l.categoriaId }}
        </td>

        <td>
          {{ l.contaId }}
        </td>

        <td>
          {{ l.data | date:'dd/MM/yyyy' }}
        </td>

        <td class="font-medium">
          {{ l.valor | currency:'BRL' }}
        </td>

        <td>

          <span class="px-2 py-1 text-xs rounded" [class.bg-green-100]="l.tipo === 'RECEITA'"
            [class.text-green-700]="l.tipo === 'RECEITA'" [class.bg-red-100]="l.tipo === 'DESPESA'"
            [class.text-red-700]="l.tipo === 'DESPESA'">
            {{ l.tipo }}
          </span>

        </td>

        <td class="space-x-2">

          <button class="text-blue-600">
            Editar
          </button>

          <button class="text-red-600">
            Excluir
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>