<div class="bg-white rounded-lg shadow p-4 h-full">

  <h3 class="text-lg font-semibold mb-4 text-gray-700">
    Orçamento por categoria
  </h3>

  <!-- Quando não houver budgets -->
  <div *ngIf="budgets.length === 0" class="text-sm text-gray-500">
    Nenhum orçamento configurado
  </div>

  <!-- Lista -->
  <div *ngFor="let b of budgets" class="py-3 border-b">

    <!-- cabeçalho -->
    <div class="flex justify-between text-sm text-gray-700 mb-2">

      <span class="font-medium">
        {{ b.categoria }}
      </span>

      <span class="text-gray-500">
        {{ b.gastoAtual | currency:'BRL' }}
        /
        {{ b.limite | currency:'BRL' }}
      </span>

    </div>

    <!-- barra -->
    <div class="w-full bg-gray-200 rounded h-2">

      <div class="h-2 rounded transition-all" [style.width.%]="b.percentual" [class.bg-green-500]="b.percentual < 60"
        [class.bg-yellow-500]="b.percentual >= 60 && b.percentual < 80" [class.bg-red-500]="b.percentual >= 80">
      </div>

    </div>

    <!-- percentual -->
    <div class="text-xs text-gray-500 mt-1">
      {{ b.percentual | number:'1.0-0' }}% utilizado
    </div>

    <!-- projeção -->
    <div *ngIf="b.riscoEstouro" class="text-xs text-orange-600 mt-1">

      📈 projeção até fim do mês:
      {{ b.projecao | currency:'BRL' }}

    </div>
    <div *ngIf="b.diasRestantesOrcamento !== null && b.percentual > 50" class="text-xs text-orange-600 mt-1">

      ⚠️ orçamento acaba em
      {{ b.diasRestantesOrcamento }}
      dias

    </div>

    <!-- alertas -->
    <div class="text-xs mt-1">

      <span *ngIf="b.alerta === 'proximo'" class="text-yellow-600">
        ⚠️ próximo do limite
      </span>

      <span *ngIf="b.alerta === 'estourado'" class="text-red-600">
        🔴 limite ultrapassado
      </span>

      <span *ngIf="b.riscoEstouro" class="text-red-500">
        ⚠️ risco de estouro
      </span>

    </div>

  </div>

</div>