<div class="bg-white rounded-lg shadow p-4 h-full">

  <h3 class="text-lg font-semibold mb-4 text-gray-700">
    Meta de economia mensal
  </h3>

  <div class="flex justify-between text-sm text-gray-700 mb-2">

    <span>
      {{ meta().economiaAtual | currency:'BRL' }}
    </span>

    <span>
      {{ meta().metaMensal | currency:'BRL' }}
    </span>

  </div>

  <div class="w-full bg-gray-200 rounded h-2">

    <div class="h-2 rounded bg-green-500 transition-all" [style.width.%]="meta().percentual">
    </div>

  </div>

  <div class="text-xs text-gray-500 mt-2">

    {{ meta().percentual | number:'1.0-0' }}% concluído

  </div>

  <!-- previsão -->

  <div class="text-xs text-blue-600 mt-3">

    📈 previsão até fim do mês:
    {{ meta().previsao | currency:'BRL' }}

  </div>

  <div *ngIf="status()" class="text-xs mt-3 font-medium" [class.text-green-600]="status()?.tipo === 'SUCESSO'"
    [class.text-yellow-600]="status()?.tipo === 'ATENCAO'" [class.text-red-600]="status()?.tipo === 'RISCO'">

    {{ status()?.mensagem }}

  </div>

</div>