<div class="space-y-4">

  <input type="text" placeholder="Descrição" class="w-full border rounded p-2" [value]="state().descricao"
    (input)="store.setDescricao($any($event.target).value)" />

  <input type="number" placeholder="Valor" class="w-full border rounded p-2" [value]="state().valor"
    (input)="store.setValor(+$any($event.target).value)" />

  <select class="w-full border rounded p-2" [value]="state().tipo" (change)="store.setTipo($any($event.target).value)">
    <option *ngFor="let tipo of tipos" [value]="tipo">
      {{ tipo }}
    </option>
  </select>

  <input type="date" class="w-full border rounded p-2" [value]="state().data | date:'yyyy-MM-dd'"
    (change)="setData($any($event.target).value)" />

</div>